:root {
  --bg-color: #f9fafb;
  --text-color: #111827;
  --card-bg: #ffffff;
  --border-color: #d1d5db;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --bg-color: #1f2937;
  --text-color: #f9fafb;
  --card-bg: #2d3748;
  --border-color: #4b5563;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
